.csas-tlt-con {
    background-color: #fff;
    padding: 0 !important;
    position: absolute;
    display: none;
    z-index: 999;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: left;
}

.csas-tlt-con > div {
    margin: 0 !important;
}

.csas-tlt-con img {
    dislay: inline-block;
}

.csas-tlt-con img {
    width: auto !important;
    max-width: none !important;
}

.csas-tlt-link.csas-tlt-link-hov[data-posy="top"] ~ .csas-tlt-con {
    display: block;
}

.csas-tlt-link.csas-tlt-link-hov[data-posy="bottom"] ~ .csas-tlt-con {
    display: block;
}